<!DOCTYPE html>
<html>

<head>
    <meta charset="UFT-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/assets/css/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/ccs/style.css">
    <title>document</title>

</head>
<body>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-white"> 
                <h5 class="text-center">llene con los datos del candidato</h5>
            </div>
            <div class="card-body ">
                <div class="card-title">
                    <h5 class="text-center">Complete toda la informacion </h5>
                </div>


                <div class="mb-3"style="width: 18rem;">
                  
                        <img src="public/assets/images/nf.jpg" class="card-img " alt="...">

                        <button type="submit">Selecionar imagen</button>
                </div>       
       


                <div class="mb-3">
                    <label for="Nombre1"class="form-label">Nombre </label>
                    <input type="text" class="form-control"  id="Nombre1" >
                </div>
                  <div class="mb-3">
                    <label for="Apellido" class="form-label">Apellido </label>
                    <input type="text" class="form-control" id="Apellido">
                  </div>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Puesto</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="perfil1" class="form-label" >Partido </label>
                    <input type="text" class="form-control"  id="perfil1"  >
                </div>
               
                
                 <button type="Listo" onclick="crearcv()" class="btn btn-outline-primary float-end">Listo</button>
                 <button type="Limpiar" onclick="Clear()" class="btn btn-outline-primary float-end">Limpiar</button>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row margin-top-2" id="Cv"></div>

</body>

<script src="public/assets/js/vendors/bootstrap/bootstrap.min.js"></script>
<script src="assets/js/index/index.js"></script>




</html> 