<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/vendors/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/custom/style.css" />
    <title>Document</title>
  </head>

  <body>

    <div class="row row-cols-1 row-cols-md-3 g-4 container mt-3 ms-6 mb-3">
      <div class="col col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Abinader</h5>
            <p class="card-text">descripcion del candidato
            </p>
            <a  class="btn btn-primary float-end">votar</a>

          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">el penco </h5>
            <p class="card-text">descripcion del penco </p>
            <a  class="btn btn-primary float-end">votar</a>

          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Leonel</h5>
            <p class="card-text">descripcion leonel </p>
            <a  class="btn btn-primary float-end">votar</a>

          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Trujillo</h5>
            <p class="card-text">descripcion trujillo</p>
            <a  class="btn btn-primary float-end">votar</a>

          </div>
        </div>
      </div>
     
    </div>

    <script src="/assets/js/vendors/bootstrap/bootstrap.min.js"></script>

  </body>
</html>