<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/vendors/bootstrap/bootstrap.min.css"
    />
    <title>Document1</title>
  </head>

  <body>

  <div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Digite su cedula</div>
  <div class="card-body text-primary">

    <div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="Cedula" class="col-form-label">Cedula</label>
  </div>
  <div class="col-auto">
    <input type="" id="Cedula" class="form-control" aria-describedby="">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
    
  </div>
</div>



    <div>
      <a href="/admin/index"> Inicio de sesion para administradores</a>
    </div>

    <script src="/assets/js/vendors/bootstrap/bootstrap.min.js"></script>
  </body>
</html>