<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/vendors/bootstrap/bootstrap.min.css"
    />
    <title>Document1</title>
  </head>

  <body>
    
    <div>
      <a href="/index" class="btn btn-light float-end me-5"> Inicio de sesion para administradores </a>
    </div>

    <div class="card col-md-4 offset-md-4 mt-3">

      <div class="card-body">
        <form action="">

          <label for="cedula" class="form-label">Cedula de identidad y electoral</label>
          <input
            type="text"
            class="form-control"        
            id="indexCedula"
            name="indexCedula"
          />
          <div id="passwordHelpBlock" class="form-text">
            Introduzca su cedula sin guiones
          </div>

          <a href="/elector-menu" class="btn btn-primary float-end"> Iniciar votacion</a>
        </form>

      </div>  

    </div>

    <script src="/assets/js/vendors/bootstrap/bootstrap.min.js"></script>
  </body>
</html>