<<<<<<< HEAD
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/vendors/bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/custom/style.css"
    />
    <title> Menu Elector </title>
  </head>

  <body>
    <div class="row row-cols-1 row-cols-md-3 g-4 container mt-3 ms-6">
      <div class="col col-md-5">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Sindico</h5>
            <p class="card-text">This is a longer card with supporting text
              below as a natural lead-in to additional content. This content is
              a little bit longer.</p>
            <a href="" class="btn btn-primary float-end">Iniciar
              votacion</a>

          </div>
        </div>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/assets/css/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/ccs/style.css">
    <title>Document</title>
</head>
<body>
        <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
>>>>>>> ebca46fcca8e01baa8facb53900f310c42d55ce4
      </div>
      <div class="col col-md-5">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Regidor</h5>
            <p class="card-text">This is a longer card with supporting text
              below as a natural lead-in to additional content. This content is
              a little bit longer.</p>
            <a href="" class="btn btn-primary float-end">Iniciar votacion</a>

          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Diputado</h5>
            <p class="card-text">This is a longer card with supporting text
              below as a natural lead-in to additional content.</p>
            <a href="" class="btn btn-primary float-end">Iniciar votacion</a>

          </div>
        </div>
      </div>
      <div class="col col-md-5">
        <div class="card">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Presidente</h5>
            <p class="card-text">This is a longer card with supporting text
              below as a natural lead-in to additional content. This content is
              a little bit longer.</p>
            <a href="" class="btn btn-primary float-end">Iniciar votacion</a>

          </div>
        </div>
      </div>
    </div>
<<<<<<< HEAD

    <script src="/assets/js/vendors/bootstrap/bootstrap.min.js"></script>
  </body>
=======
  </div>
</div>
</body>
>>>>>>> ebca46fcca8e01baa8facb53900f310c42d55ce4
</html>